@import url('https://fonts.googleapis.com/css2?family=Jost&family=Nanum+Gothic&family=Nanum+Myeongjo&family=Oranienbaum&family=Vidaloka&display=swap');

body {
  padding: 50px;
  font-family: 'Jost', sans-serif;
  text-align: center;
  max-width: max-content;
  margin: auto;
  
  /*
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Oranienbaum', serif;
font-family: 'Vidaloka', serif;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

.card {
    padding: 2rem;
}
